html,
body {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}

.FlexWrap {
	font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 90%;
  text-decoration: none;
  margin-top: 10vh;
  margin: 5vw;
  display: grid;
  justify-content: space-around;  /* alignment along main axis - center flex-start flex-end space-evenly space-between space-around */
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 2vw;
}

.FlexItem {
	background-color: grey;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: lightgrey;
  
}

.FlexItem:hover{
  transform: translate3d(-1vh, -1vh, 0);
  transition: all 0.3s ease-in-out;
  box-shadow: 10px 10px rgba(71, 71, 71, 0.4) ;

}

img {
  width: 80%;
  object-fit: cover;
}

@media only screen and (max-width: 700px){
  .FlexWrap{ 
    grid-template-columns: auto ;
  }
  .FlexItem:hover{
    transform: translate3d(0, 0, 0);
    transition: all 0s ease-in-out;
    box-shadow: 0px 0px rgba(71, 71, 71, 0.4) ;
  
  }
}

@media only screen and (min-width: 700px){
  .FlexWrap{ 
    grid-template-columns: auto auto ;
  }
}

@media only screen and (min-width: 1000px){
  .FlexWrap{ 
    grid-template-columns: auto auto auto auto;
  }
}