html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e1e3dd;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50vw;
  margin-left: 25vw;
}

.headerText {
  color: #504B78;
  font-size: 8vw;
  font-family: impact;
}

.pText {
  width: 50%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.Title {
  font: bold;
  font-size: larger;
}

.Comment {
  border-radius: 5px;
  /* background: linear-gradient(315deg, #cbccc7, #f1f3ec);
  box-shadow: -25px -25px 49px #979894,
    25px 25px 49px #ffffff; */
}

#h1 {
  text-align: right;
}

#h2 {
  text-align: left;
}

.logo {
  width: 8vw;
  animation: rotate 40s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.logobg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  background-color: #504B78;
  width: 14vw;
  height: 14vw;
  border-radius: 50%;
}

.FlexWrap {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 90%;
  text-decoration: none;
  margin-top: 10vh;
  margin: 5vw;
  display: grid;
  justify-content: space-around;
  /* alignment along main axis - center flex-start flex-end space-evenly space-between space-around */
  grid-gap: 2vw;
}

.FlexItem {
  display: grid;
  justify-items: center;
  align-items: baseline;
  align-content: space-between;
  background-color: #68629D;
  text-decoration: none;
  text-align: center;
  color: black;
  margin-inline: auto;
  border-radius: 5px;
  background: linear-gradient(315deg, #cbccc7, #f1f3ec);
  box-shadow: -25px -25px 49px #979894,
    25px 25px 49px #ffffff;

}

.FlexItem:hover {
  transition: all 8s linear;
  background: linear-gradient(315deg, #9aa7b5, #b7c6d7);
box-shadow:  -25px -25px 49px #737c87,
             25px 25px 49px #e3f6ff;
}

.FlexItem:hover>.pText {}

img {
  width: 80%;
  position: center;
  border-radius: 4px;
}

/* RATING*/
#rating {
  background-color: #68629D;
  margin: 1vw;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  text-align: center;
  color: white;
  font-size: 2vw;
}

#rating:hover {
  transform: translate3d(-0.3vw, -0.3vw, 0);
  transition: all 0.2s ease-in-out;
  box-shadow: 0.4vw 0.1vw #504B78;
}

#rating:focus {
  background-color: #EA8B2E;
  color: #504B78;
  transform: translate3d(-0.3vw, -0.3vw, 0);
  box-shadow: 0.4vw 0.1vw #504B78;
}

.submit {
  border: none;
  width: 20vw;
  height: 5vh;
  font-size: 2vw;
  border-radius: 5px;
  color: white;
  background-color: #68629D;
}

.submit:hover {
  background-color: #504B78;
}

.totRating {
  color: white;
  font-size: 2.5vw;
  font-weight: bolder;
}

/* RATING*/
@media only screen and (max-width: 700px) {
  .FlexWrap {
    grid-template-columns: auto;
  }

  .FlexItem:hover {
    transform: translate3d(0, 0, 0);
    transition: all 0s ease-in-out;
    box-shadow: 0px 0px rgba(71, 71, 71, 0.4);

  }

  .FlexItem {
    width: 70vw;
  }
}

@media only screen and (min-width: 700px) {
  .FlexWrap {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .FlexWrap {
    grid-template-columns: auto;
  }
}