.ratings {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
}

.numContainer {
  display: flex;

}

#rating {
  display: flex;
  background-color: #68629D;
  margin: 12px;
  border-radius: 10%;
  width: 3vw;
  height: 3vw;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 2.5vw;
  border-radius: 5px;
  background: linear-gradient(315deg, #f4f4f4, #cdcdcd);
  box-shadow: -6px -6px 24px #5b5b5b,
    6px 6px 24px #ffffff;

}

@keyframes click {
  100% {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 5px 5px 15px #6c6c6c,
      -5px -5px 15px #ffffff;
  }
}

#rating:active {
  transition: all 0.1s ease-in-out;

  /* box-shadow: 0.4vw 0.1vw #504B78; */
}

#rating:focus {
  background: linear-gradient(315deg, #c7be5d, #f1eb79);
  box-shadow: -6px -6px 24px #645f1a,
    6px 6px 24px #fffd88;
  animation: click 0.5s linear ease;
}

.submit {
  align-self: center;
  border: none;
  width: 20vw;
  height: 5vw;
  font-size: 2.5vw;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  
  background: linear-gradient(315deg, #f4f4f4, #a0a0a0);
  box-shadow: -6px -6px 24px #5b5b5b,
    6px 6px 24px #ffffff;
}

.submit:hover {
  background: #a0a0a0;
  box-shadow: -6px -6px 24px #696969,
    6px 6px 24px #ffffff;
  animation: click 0.5s linear ease;
}

.totRating {
  padding: 5px;
  font-size: 2.5vw;
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid gray;
}

@media only screen and (max-width: 700px) {

  #rating{
    width: 5vw;
    height: 5vw;
  }

}