#rating {
    background-color: #68629D;
    margin: 1vw;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    text-align: center;
    color: white;
    font-size: 2vw;
  }
  
  #rating:hover {
    transform: translate3d(-0.3vw, -0.3vw, 0);
    transition: all 0.2s ease-in-out;
    box-shadow: 0.4vw 0.1vw #504B78;
  }
  
  #rating:focus {
    background-color: #EA8B2E;
    color: #504B78;
    transform: translate3d(-0.3vw, -0.3vw, 0);
    box-shadow: 0.4vw 0.1vw #504B78;
  }
  
  .submit {
    border: none;
    width: 20vw;
    height: 5vh;
    font-size: 2vw;
    border-radius: 5px;
    color: white;
    background-color: #68629D;
  }
  
  .submit:hover {
    background-color: #504B78;
  }
  
  .totRating {
    color: white;
    font-size: 2.5vw;
    font-weight: bolder;
  }